/* цвет основного текста #212121 */
/* вторичный цвет #757575 */
/* шапка #FFFFFF */
/* почта и тел под rgba(255, 255, 255, 0.6)*/
/* фдрес подвала #FFFFFF  */
/* секция наша команда #F5F4FA */
/* секция чем мы занисаемся #E5E5E5 */
/* секция герой #2F303A */
/* цвет кнопки #2196F3 */
/* шапка hover #188CE8 */
/* body #E5E5E5 */

body {
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* Частковий ресет стилей браузера start */

/* header section */

a {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Частковий ресет стилей браузера end */

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid tomato;
}

.logo {
  color: #2196f3;
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
}

.logo-inner {
  color: #000000;
}

.nav-link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}

.nav-link.current {
  color: #2196f3;
}

.header-mailto {
  color: #757575;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-mailto:hover,
.header-mailto:focus {
  color: #2196f3;
}

.header-phone {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-phone:hover,
.header-phone:focus {
  color: #2196f3;
}

/* hero section */

.hero {
  background-color: #2f303a;
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;

  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button-hero {
  width: 200px;
  height: 50px;

  background-color: #2196f3;
  color: #ffffff;
  border: none;
  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-hero:hover,
.button-hero:focus {
  background-color: #188ce8;
  color: #ffffff;
  border: none;
}

/* offer section */

.offer-title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.offer-text {
  font-size: 14px;
  line-height: 1.71;
}

/* doing section */

.doing-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* team section */

.team {
  background-color: #f5f4fa;
}

.team-titel {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team-subtitel {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
}

/* footer section */

.footer {
  background-color: #2f303a;
}

.address {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.footer-mailto {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
}

.footer-mailto:hover,
.footer-mailto:focus {
  color: #2196f3;
}

.footer-phone {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
}

.footer-phone:hover,
.footer-phone:focus {
  color: #2196f3;
}

.footer-logo {
  color: #2196f3;
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
}

.footer-logo-inner {
  color: #ffffff;
}

/* Portfolio section */

.button-portfolio {
  color: #212121;
  border: none;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.button-portfolio.current {
  background-color: #2196f3;
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.portfolio-titel {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
